---
  # https://github.com/eslint/eslint/blob/master/docs/configuring/README.md
  extends: "eslint:recommended"

  env:
    node: true,
    es6: true

  # https://github.com/eslint/eslint/tree/master/docs/rules
  rules:
    # stylistic issues, disabled because of JSCS
    brace-style: 0
    camelcase: 0
    consistent-this: 0
    eol-last: 0
    func-names: 0
    func-style: 0
    new-cap: 1
    new-parens: 1
    no-nested-ternary: 0
    no-array-constructor: 1
    no-lonely-if: 1
    no-new-object: 1
    no-spaced-func: 0
    no-space-before-semi: 0
    no-ternary: 0
    no-trailing-spaces: 0
    no-underscore-dangle: 0
    no-wrap-func: 0
    no-mixed-spaces-and-tabs: 0
    quotes: 0
    quote-props: 0
    semi: 2
    sort-vars: 0
    space-after-keywords: 0
    space-in-brackets: 0
    space-in-parens: 0
    space-infix-ops: 0
    keyword-spacing: 1
    space-unary-ops: 1
    max-nested-callbacks: 0
    one-var: 0
    wrap-regex: 0
